$for(include-before)$
$include-before$
$endfor$

$if(title)$
$if(date)$
	<span class="date">$date$</span>
$endif$
	<header class="major">
		<h1 class="title">$title$</h1>
$if(subtitle)$
	<span class="subtitle">$subtitle$</span>
$endif$
$for(author)$
	<span class="author">$author$</span>
$endfor$
	</header>
$endif$

$if(toc)$
	<nav id="$idprefix$TOC" role="doc-toc">
$if(toc-title)$
	<h2 id="$idprefix$toc-title">$toc-title$</h2>
$endif$
$table-of-contents$
	</nav>
$endif$

$body$

$for(include-after)$
$include-after$
$endfor$