<head>
$if(title)$
	<title>$title$</title>
$endif$
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<script src = "https://unpkg.com/curvature@0.0.66-q/dist/curvature.js"></script>
	<script src = "https://unpkg.com/matrix-api@0.0.0-f/dist/matrix-api.js"></script>
	<script src = "/matrix.js"></script>
$for(author-meta)$
	<meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
	<meta name="dcterms.date" content="$date-meta$" />
$endif$
$if(keywords)$
	<meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$
	<title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
$for(css)$
	<link rel="stylesheet" href="$css$" />
$endfor$
$if(math)$
	$math$
$endif$
$for(header-includes)$
	$header-includes$
$endfor$
<style>
		$styles.html()$
	</style>
</head>
