<a href="#menu"></a>
<nav id="menu">
	<ul class="links">
		<li>

			<a href="index.html" title = "Open Network Foundation">Home</a>

		</li>
	
		<li>

			<a href="About.html" title = "About">About</a>

		</li>
	
		<li>

			<a href="https://github.com/OpenNetworkFoundation" title = "Source Code" target = "_blank">Source Code</a>

		</li>
	
		<li>

			<a href="article.html" title = "Lorem Ipsum">Lorem Ipsum</a>

		</li>
	
		<li>

			<a href="new-page.html" title = "New Page">New Page</a>

		</li>
	</ul>

	<ul class="actions stacked">
	  <li><a href="#" class="button primary fit">Get Started</a></li>
	  <li><a href="#" class="button fit">Log In</a></li>
	</ul>
</nav>
