<!DOCTYPE HTML>
<TMPL_INCLUDE NAME="../fragments/head.frag.html">
<body class="is-preload">
	<div id="wrapper">

		<!-- Header -->
<TMPL_INCLUDE NAME="../fragments/header.frag.html">
		<!-- /Header -->

		<!-- Menu -->
<TMPL_INCLUDE NAME="../fragments/menu.frag.html">
		<!-- /Menu -->

		<!-- Main -->

				<!-- Body -->
<TMPL_VAR NAME='body'>
				<!-- /Body -->

				<!-- Contact -->
<TMPL_INCLUDE NAME="../fragments/contact.frag.html">
				<!-- /Contact -->

				<!-- Footer -->
<TMPL_INCLUDE NAME="../fragments/footer.frag.html">
				<!-- /Footer -->
	</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
